* {
    font-family: monospace;
}

.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affichage {
    min-width: 400px;
    width: 50%;
    height: 200px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

h1, button {
    margin: 10px auto;
} 