* {
    font-family: monospace;
}

.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affichage {
    min-width: 400px;
    width: 50%;
    height: 200px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

h1, button {
    margin: 10px auto;
}

/* Style de base pour tous les messages */
.texte {
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
}

/* Style pour les messages à droite */
.droite {
    border: 1px solid #00FF00;
    background-color: #AAFFA0;
    margin-left: 100px;
}

/* Style pour les messages à gauche */
.gauche {
    border: 1px solid #0000FF;
    background-color: #AAAAFF;
    margin-right: 100px;
} 